*{
    padding:0px;
    margin:0px;

}


.box{
    width:250px;
    height:80px;
    margin:30px;
    border:1px solid black;
    padding:20px;
    border-radius:20px;

    transition-property: all;
    transition-duration:0.3s;
    transition-timing-function: ease-in-out;
}



#box1{
    background-color: teal;
}
#box1:hover{
    transform:translate(50px);
}

#box2{
    background-color: indianred;
}
#box2:hover{
    transform:translate(50px,50px);
}

#box3{
    background-color: yellowgreen;
}
#box3:hover{
    transform:translate(50px);
}

#box4{
    background-color: violet;
}
#box4:hover{
    transform:translatey(50px);
}

