*{
    margin:0;
    padding:0;
}

#container{
    border:2px solid black;
    height:600px;
    width:600px;
    background-color:lavenderblush;
    margin:30px;

    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-content:start;

    
}

.item{
    height:100px;
    width:100px;
    margin:5px;
    border:3px solid black;
}



#item1{background-color:aqua;}
#item2{background-color:greenyellow;}
#item3{background-color:goldenrod;}
#item4{background-color:rebeccapurple;}
#item5{background-color:blue;}
#item6{background-color:blueviolet;}
#item7{background-color:paleturquoise;}
#item8{background-color:tomato;}
#item9{background-color:teal;}

