*{
    margin:0px;
    padding:0px;
}
header{
    background-color:rgba(185, 127, 255,0.5);
    height:50px;
    margin:0px;
}

nav{
    padding:20px;
}

nav a{
    text-decoration:none;
    margin-left:50px;
}

#single{
    position:fixed;
    right:20px;
    border:2px solid red;
    border-radius:20px;
    text-align:center;
    padding:50px;
    box-sizing:border-box;

    height:100px;
    width:200px;
    background-color:greenyellow;
    margin:10px;

}

.container{
    background-color:aquamarine;
    width:80%;
    position:static;

}

.box{
    margin-top:10px;
    background-color:rgb(205, 138, 138);
    margin:10px;
    width:40%;
}

footer{
    background-color:rgba(114, 112, 112,0.2);
    bottom:0px;
}