*{
    padding:0px;
    margin:0px;
}


.box{
    display:inline-block;
    height:80px;
    width:200px;
    margin:20px;
    padding-top:10px; 
    padding-left: 20px;
    box-sizing: border-box;

    border:1px solid black;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#box1{
    background-color: yellowgreen;
}
#box1:hover{
    transform: skew(45deg);
}


#box2{
    background-color: indianred;
}
#box2:hover{
    transform: skew(90deg);
}